body {
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button {
    cursor: pointer;
}

input[type=text] {
    font: inherit;
    height: 40px;
    padding: 0 0.5em;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 0 0 0 12px;
    color: #000000;
    border: 1px solid #999999;
}

footer {
    background-color: #1d1e21;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
}

footer .footer_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

footer .left_section {
    display: flex;
    margin: auto;
    width: 20%;
}

footer .middle_section {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
}

footer .right_section {
    display: flex;
    margin: auto;
    width: 20%;
    justify-content: flex-end;
}

footer button {
    padding: 0 12px;
    margin: auto 0;
    background: none;
    border: none;
}

footer form {
    display: inline-flex;
}

footer button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

footer input[type=text] {
    width: 450px;
}

footer ::placeholder {
    color: #999999;
}

header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 50px;
    background-color: #1d1e21;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #19181c;
    border-radius: 5px;
    box-sizing: border-box;
    color: #eeeeee;
    display: flex;
}

.bar_content {
    margin: auto;
    display: flex;
}

.bar_content span, .bar_content img {
    margin: auto 3px;
}

button.bar_content {
    background: none;
    border: none;
}

button.bar_content:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.top_bar {
    width: 100px;
    height: 50px;
    background-color: #1d1e21;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    border: 1px solid #19181c;
    border-radius: 5px;
    box-sizing: border-box;
    color: #eeeeee;
    display: flex;
}

.room_info {
    width: 300px;
    height: 100px;
    background-color: #1d1e21;
    position: absolute;
    bottom: 80px;
    left: 20px;
    padding: 10px;
    border: 1px solid #19181c;
    border-radius: 5px;
    box-sizing: border-box;
    color: #eeeeee;
}

.room_info .title {
    font: inherit;
    font-size: 1.1em;
    margin: 0;
}

.room_info .owner_info {
    margin: 0;
    font-size: 0.9em;
    color: #9d9ca0;
}

.room_info .owner_info .owner_name {
    color: #8fc8cd;
}

.room_info .buttons_container {
    display: flex;
    bottom: 10px;
    position: absolute;
}

.room_info button {
    min-width: 35px;
    height: 35px;
    background-color: #2c2b2c;
    border: none;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 5px;
    display: flex;
    color: inherit;
    font: inherit;
    font-size: 0.9em;
}

.room_info button img {
    margin: auto auto;
}

.room_info button:hover {
    background-color: #373539;
}

.main_wrapper {
    background-color: rgba(24, 24, 24, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100;
}

.main_container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main_content {
    position: relative;
    margin: auto;
    width: 500px;
    background: rgba(24, 24, 24, 0.8);
    border: 1px solid #282722;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.main_content_footer {
    color: #9d9ca0;
    font-size: 0.8em;
    text-align: center;
}

.main_content_footer a {
    color: inherit;
}

.main_content p {
    margin: 2em;
}

.main_content h2 {
    margin: 0;
    font-weight: inherit;
    font-size: 1.5em;
}

.main_content input[type=text] {
    margin: 0 auto;
    width: 250px;
}

.main_content .look_item {
    display: inline-block;
    padding: 6px;
    box-sizing: border-box;
}

.main_content button {
    position: initial;
    background-color: #282729;
    color: #eeeeee;
    padding: 7px 16px;
    border: none;
    font: inherit;
    font-size: 1.2em;
    border-radius: 3px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #000000;
}

.main_content button:hover {
    background-color: #383739;
}

.main_content button.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main_content .loading {
    margin-top: 20px;
}

.main_content hr {
    border-color: #444444;
}

.logo {
    margin: auto;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo h1 {
    display: inline;
    margin-left: 0.1em;
    font-family: 'Poiret One', sans-serif;
    font-weight: inherit;
    font-size: 3em;
    text-transform: lowercase;
    text-shadow: 0 0 2px #000000;
}