.window {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: 200px;
    width: 500px;
    background: rgba(24, 24, 24, 0.8);
    border: 1px solid #282722;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}