.catalogue {
    position: absolute;
    left: 20px;
    right: 0;
    top: 15px;
    height: 300px;
    width: 390px;
    background: #418db0;
    border: 2px groove #69a4c0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    z-index: 200;
    padding: 0px 5px;
}

